.weather-app {
  padding: 20px;
  color: #3500d3;
  font-family: garamond;
  font-size: large;
}

.weather-forecast {
  color: #743fab;
}

body {
  background-image: linear-gradient(to right, #766de9, #97bbe9) !important;
}

.weather-forecast-min {
  color: #6c82cd;
}
