.weather-app {
  padding: 20px;
  color: #3500d3;
  font-size: large;
}

.weather-forecast {
  color: #392b62;
  padding: 100px;
}

body {
  background-image: linear-gradient(to right, #766de9, #97bbe9) !important;
}

.weather-forecast-min {
  color: #cae1e9;
}

.weather-forecast-max {
  color: #a3cfd4;
}

p {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: #93d5f1;
}

#city {
  font-size: 24px;
  padding: 20px;
}

#description {
  color: #766de9;
}

div.description::first-letter {
  text-transform: capitalize;
}

#date {
  padding: 45px;
  font-size: 20px;
}
